{% extends template.self %}

{% block body %}
    {{ super() }}
    <script>
        var lang = window.navigator.userLanguage || window.navigator.language;
        var href = document.location.href.replace('index.html', '');
        if (lang.indexOf('de') !== -1) {
            document.location = href + 'de/';
        } else if (lang.indexOf('ru') !== -1) {
            document.location = href + 'ru/';
        } else {
            document.location = href + 'en/';
        }
    </script>
{% endblock %}