/.git
/.idea
/.vscode
/node_modules
/engine/node_modules
/engine/front-end/public/de
/engine/front-end/public/en
/engine/front-end/public/ru
/engine/front-end/public/zh-cn
/engine/package-lock.json
/engine/google-keys.json
/engine/front-end/src/i18n/temp_words.js
/engine/front-end/build
/engine/front-end/docu
/engine/front-end/data
/engine/front-end/node_modules
/engine/front-end/package-lock.json
