.idea
node_modules
/conf/iobroker.json
/log/iobroker.log
/lib/ioBroker.pid
/adapter/email
/adapter/sonos
/adapter/admin
/data
/npm-debug.log
/tmp
/log
pids.txt
backups
cache
/img
/test/coverage
/test/report
/conf/sources-dist.json
/package-lock.json
/.npmrc
