<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
    <div class="paypal-donations">
        <input type="hidden" name="cmd" value="_donations">
        <input type="hidden" name="bn" value="TipsandTricks_SP">
        <input type="hidden" name="business" value="iobroker.service@gmail.com">
        <input type="hidden" name="return" value="http://iobroker.net">
        <input type="hidden" name="rm" value="0">
        <input type="hidden" name="currency_code" value="EUR">
        <input type="image" src="https://www.paypal.com/ru_RU/i/btn/x-click-butcc-donate.gif" name="submit" alt="Платежи через PayPal — это быстро, безопасно и бесплатно!">
        <img alt="" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1">
    </div>
</form>