<form action="https://www.paypal.com/cgi-bin/webscr" method="post">
    <div class="paypal-donations">
        <input type="hidden" name="cmd" value="_donations">
        <input type="hidden" name="bn" value="TipsandTricks_SP">
        <input type="hidden" name="business" value="iobroker.service@gmail.com">
        <input type="hidden" name="return" value="http://iobroker.net">
        <input type="hidden" name="rm" value="0">
        <input type="hidden" name="currency_code" value="EUR">
        <input type="image" src="https://www.paypal.com/de_DE/DE/i/btn/btn_donateCC_LG.gif" name="submit" alt="PayPal - The safer, easier way to pay online.">
        <img alt="" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1">
    </div>
</form>